html {
  font-size: 62.5%;
}

body {
  background-color: black;
  background-image: url(images/background.jpg);
  background-size: cover;
  color: white;
}

.selected.token{
  border: 4px solid white;
  transform: scale(1.4);
}

.taken.token {
  border: 4px solid grey;
}

.taken.token:hover {
  cursor: none;
  transform: scale(1);
}

h1 {
  font-size: 6rem;
  text-align: center;
}

button {
  font-size: 3rem;
}

header button {
  font-size: 2rem;
  color: white;
  background-color: rgba(170, 120, 170, .5);
}

#curPlay,
#roll,
#moves {
  font-size: 2rem;
}

main {
  width: 860px;
  margin: 0 auto;
}

#playerSelection,
#addPlayersMenu,
#helperButtons,
#gameControls {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(17, 1fr);
  grid-auto-columns: minmax(50px, auto);
  grid-auto-rows: minmax(50px, auto);
}

#startButton {
  display: grid;
  grid-column: 7/12;
  grid-row: 7/10;
  background-color: rgba(171, 125, 200);
  border: 8px solid rgba(24, 15, 56);
  border-radius: 15%;
  z-index: 100;
  text-align: center;
  font-size: 10rem;
}

#openingRules {
  grid-column: 7/12;
  grid-row: 11/14;
  background-color: rgba(171, 125, 200);
  border: 8px solid rgba(24, 15, 56);
  border-radius: 15%;
  z-index: 100;
  text-align: center;
  font-size: 10rem;
}

#rollDice {
  display: grid;
  grid-column: 5/12;
  grid-row: 5/8;
  background-color: rgba(171, 125, 200);
  border: 8px solid rgba(24, 15, 56);
  border-radius: 15%;
  z-index: 100;
  text-align: center;
  font-size: 10rem;
}

#ticketView {
  display: none;
  grid-column: 4/15;
  grid-row: 5/14;
  background-color: rgba(171, 125, 200);
  border: 8px solid rgba(24, 15, 56);
  border-radius: 15%;
  z-index: 100;
  text-align: center;
}

#ticketView.closeWindow {
  grid-column: 1;
  grid-row: 1;
}

#startButton:hover,
#rollDice:hover,
#openingRules:hover {
  cursor: pointer;
  background-color: pink;
}

#playerSelection {
  display: none;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(11, 1fr);
  grid-auto-rows: minmax(41.25px, auto);
  grid-auto-columns: minmax(41.25px, auto);
  grid-column: 3/16;
  grid-row: 5/14;
  background-color: blue;
  border: 8px solid navy;
  border-radius: 15%;
  z-index: 101;
  text-align: center;
}

#selectionPrompt {
  grid-column: 1/17;
  grid-row: 1/3;
}

.token {
  grid-row: 4/6;
  border-radius: 50%;
  border: 4px solid magenta;
}

.token1:hover,
.token2:hover,
.token3:hover,
.token4:hover,
.token5:hover {
  transform: scale(1.4);
  cursor: pointer;
}

.token1 {
  grid-column: 2/4;
}

.token2 {
  grid-column: 5/7;
}

.token3 {
  grid-column: 8/10;
}

.token4 {
  grid-column: 11/13;
}

.token5 {
  grid-column: 14/16;
}

#savePlayer:hover,
#playersAdded:hover,
#miniMapView:hover,
#useTicket:hover,
#endTurn:hover,
#claimPrize:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#savePlayer,
#playersAdded,
#miniMapView,
#useTicket,
#endTurn,
#claimPrize {
  background-color: rgba(171, 125, 200);
  border: 4px solid rgba(24, 15, 56);
  border-radius: 15%;
  z-index: 101;
  text-align: center;
}

#savePlayer {
  grid-column: 2/8;
  grid-row: 8/10;
}

#playersAdded {
  grid-column: 10/16;
  grid-row: 8/10;
}

#turnControls {
  display: none;
  max-width: 850px;
}

/*
#miniMapView {
  grid-column: 2/8;
  grid-row: 3/5;
}
*/

#mainGameBoard {
  box-shadow: 5px 5px .4em rgba(255,255,255,.3), -5px -5px .4em rgba(255,255,255,.3);
}

#useTicket {
  grid-column: 2/8;
  grid-row: 3/5;
}

#endTurn {
  grid-column: 10/16;
  grid-row: 3/5;
}

#claimPrize {
  grid-column: 5/12;
  grid-row: 8/11;
}

.locations {
  display: grid;
  grid-auto-rows: 50px;
  grid-auto-columns: 50px;
  font-size: 50px;
}

.locations.available {
  background-color: rgba(0, 150, 50, .35);
  border: 3px solid rgb(0, 150, 50);
  border-radius: 25%;
  cursor: pointer;
}


.loc0   { grid-column: 3/5;   grid-row: 3/5;}
.loc1   { grid-column: 5/7;   grid-row: 1/3;}
.loc2   { grid-column: 8/10;  grid-row: 3/5;}
.loc3   { grid-column: 10/12; grid-row: 2/4;}
.loc4   { grid-column: 14/16; grid-row: 2/4;}
.loc5   { grid-column: 2/4;   grid-row: 6/8;}
.loc6   { grid-column: 5/7;   grid-row: 5/7;}
.loc7   { grid-column: 12/14; grid-row: 3/5;}
.loc8   { grid-column: 15/17; grid-row: 4/6;}
.loc9   { grid-column: 3/5;   grid-row: 8/10;}
.loc10  { grid-column: 4/6;   grid-row: 10/12;}
.loc11  { grid-column: 5/7;   grid-row: 9/11;}
.loc12  { grid-column: 7/9;   grid-row: 7/9;}
.loc13  { grid-column: 10/12; grid-row: 6/8;}
.loc14  { grid-column: 13/15; grid-row: 7/9;}
.loc15  { grid-column: 2/4;   grid-row: 12/14;}
.loc16  { grid-column: 5/7;   grid-row: 15/17;}
.loc17  { grid-column: 7/9;   grid-row: 12/14;}
.loc18  { grid-column: 10/12; grid-row: 10/12;}
.loc19  { grid-column: 13/15; grid-row: 9/11;}
.loc20  { grid-column: 15/17; grid-row: 8/10;}
.loc21  { grid-column: 10/12; grid-row: 15/17;}
.loc22  { grid-column: 13/15; grid-row: 14/16;}
.loc23  { grid-column: 13/15; grid-row: 12/14;}
.loc24  { grid-column: 15/17; grid-row: 11/13;}

#mainGameBoard {
  width: 850px;
  height: 850px;
  background-image: url(images/gameBoard.jpg);
}

#mainGameBoard img {
  /*border: 5px solid green;*/
}

.rules {
  display: none;
  background: rgba(170, 120, 170, .8);
  padding: 1%;
  font-size: 1.8rem;
  width: 850px;
  z-index: 1000;
}

#playerSelection .selected {
  border: 5px solid green;
}

#addNewPlayer {
  display: none;
}

#ticketView button {
  width: 30px;
  height: 30px;
}

#ticketView div {
  border: 3px solid rgba(24, 15, 56);
  border-radius: 15px;
  height: 3rem;
  width: 80%;
  margin: 0 auto;
  font-size: 1.5rem;
}

#ticketView div:hover {
  transform: scale(1.2);
  cursor: pointer;
}

#winAttempt,
#wentForIt {
  display: none;
}

header p,
#information h3,
#rules,
#restart {
  display: iinline-block;
  width: 200px;
}

#ticketView div {
  font-size: 2rem;
  color: black;
}
